ul{
    /* list-style-type: none; */
    /* list-style-type: circle; */
    list-style-type: square;
    list-style-position: inside;
}

ol{
    /* list-style-type: lower-roman; */
    /* list-style-type: lower-alpha; */
    /* list-style-type: lower-greek; */
    /* list-style-type:upper-roman; */
    /* list-style-type: upper-latin; */
    list-style-type: upper-alpha;
    list-style-position:inside;
}